<main role="main" class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <div class="tittle">
                <img src="assets/images/ECD/title.png" class="mt-4">
                <span class="titulo">Seleccioné el servicio utilizar</span>
            </div>
        </div>
    </div>
    <div class="row background-grey">
        <div class="col-6 text-center">
            <a routerLink="/recargaTelefono" routerLinkActive="active">
                <img src="assets/images/ECD/box-one.png">
                <img src="assets/images/ECD/recarga.svg" class="img-inside">
                <p class="text-inside">RECARGA DE<br>TELEFONÍA</p>
            </a>
        </div>
        <div class="col-6 text-center">
            <a routerLink="/datosEnvio" routerLinkActive="active">
                <img src="assets/images/ECD/box-one.png">
                <img src="assets/images/ECD/western.svg" class="img-inside-2">
                <p class="text-inside-2">ENVÍO DE<br>DINERO</p>
            </a>
        </div>
    </div>
</main>
<footer>
</footer>

