<main role="main" class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <div class="tittle">
                <img src="assets/images/ECD/title-envio.png" class="mt-4">
                <span class="titulo  ml-5 pl-5 mt-n2">Envío de Dinero</span>
            </div>
        </div>
    </div>
    <div class="row text-center ">
        <div class="col-12 pt-5">
            <hr>
        </div>
        <div class="col-5 br-solid pt-5 mt-4 text-left pl-5">
            <h1 class="green font-s ">Código Giro</h1>
            <h1 class="display-1 grey pt-0">0982002093</h1>
        </div>
        <div class="col-7 mt-5">
            <img src="assets/images/ECD/print-envio.gif">
        </div>
        <div class=" col-12 pt-5 ">
            <hr>
        </div>
    </div>
    <div class="row botonera ">
        <div class="col-12 text-center ">
            <button class="btn-back " routerLink="" routerLinkActive="active">INICIO</button>
        </div>
    </div>
</main>
<footer>
</footer>
