<main role="main" class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <div class="tittle">
                <img src="assets/images/ECD/title.png" class="mt-4">
                <span class="titulo">Recarga de Telefonia</span>
            </div>
        </div>
    </div>
    <div class="row background-grey text-center ">
        <div class="col-12 pt-5">
            <hr>
        </div>
        <div class="col-3">
            <a routerLink="/datosTelefono" routerLinkActive="active"><img src="assets/images/ECD/comp-1.png"></a>
        </div>
        <div class="col-3">
            <a routerLink="/datosTelefono" routerLinkActive="active"><img src="assets/images/ECD/comp-2.png"></a>
        </div>
        <div class="col-3">
            <a routerLink="/datosTelefono" routerLinkActive="active"><img src="assets/images/ECD/comp-3.png"></a>
        </div>
        <div class="col-3">
            <a routerLink="/datosTelefono" routerLinkActive="active"><img src="assets/images/ECD/comp-4.png"></a>
        </div>
        <div class="col-12 pb-5">
            <hr>
        </div>
    </div>
    <div class="row botonera">
        <div class="col-12 text-center">
            <button class="btn-back" routerLink="" routerLinkActive="active">VOLVER</button>
        </div>
    </div>
</main>
<footer>
</footer>
