<main role="main" class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <div class="tittle">
                <h1 class="mt-4 font-s grey display-3">IMPRESIÓN DE COMPROBANTE</h1>
            </div>
        </div>
    </div>
    <div class="row text-center ">
        <div class="col-12 mt-5">
            <img src="assets/images/ECD/print-carga.gif">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center green mt-5">
            <h1>Agradecemos por utilizar nuestro servicio</h1>
        </div>
    </div>
</main>
<footer>
</footer>
